body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header ul {
  list-style-type: none;
  padding: 0;
}

header ul li {
  display: inline;
  margin: 0 15px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

header ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.assignment {
  background-color: #f9f9f9;
  padding: 15px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.assignment h2 {
  color: #333;
}

.assignment p {
  font-size: 16px;
}

.git-button-container {
  text-align: center;
  margin-top: 20px;
}

.git-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.git-button:hover {
  background-color: #555;
}

.project {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background-color: #d4d4d4;
  border-radius: 8px;
}

.project h2 {
  color: #fff;
}

.project-details h3 {
  color: #f4f4f4;
  margin-top: 20px;
}

.project-details ul {
  list-style: disc;
  padding-left: 20px;
}

.project-details p a {
  color: #3498db;
  text-decoration: none;
}
